<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <script>
        console.log('c');
    </script>
</head>

<div layout:fragment="content">
    <div>
        <p style="color: aqua">hello</p >
        
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        <p>zxczxczxczxczxczxczxczxc</p>
        	
    </div>
</div>
</html>